<!DOCTYPE html>
<html ng-app="DemoApp">
<head>
    <title>Prismic.IO demo</title>

    <script src="bower_components/prismic.io/dist/prismic.io.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="angular-prismic.min.js"></script>
</head>
<body>

<div class="demo" ng-controller="DemoCtrl">

    {{status}}
    <hr/>
    <p>Query</p><input ng-model="predicate">
    <button ng-click="queryPrismic()">Search</button>
    <div ng-repeat="row in data">
        <h1>Id: {{row.id}}</h1>
        <p>Type: {{row.type}}</p>
        <p>{{row|json}}</p>
    </div>
</div>


<script>
    var DemoApp = angular.module('DemoApp', ['prismic.io']);

    DemoApp
            .run(function (Prismic) {
                Prismic.setAPIEndpoint('https://lesbonneschoses-ulwh5lo531gahg7x.prismic.io/api');
                Prismic.setAccessToken('MC5Vc3A2MlFFQUFONnJwYnAy.Iw3vv712fxFlbgXvv71sHkNF77-977-9eTrvv73vv71477-977-9Ue-_ve-_vVXvv73vv73vv73vv73vv70');
                Prismic.setClientId('Usp62QEAAMKrpbp1');
                Prismic.setClientSecret('dcdb92123281f6cfae808132b4ac19a7');
            })
            .controller('DemoCtrl', function ($scope, Prismic) {
                $scope.status = "Loading...";

                Prismic.get().then(function (docs) {
                    $scope.status = "Loaded";
                    $scope.data = docs.results;
                });

                // Query the prismic api with specific predicate
                $scope.queryPrismic = function() {
                    $scope.status = "Loading...";
                    Prismic.query($scope.predicate).then(function (result) {
                        $scope.status = "Loaded";
                        $scope.data = result.results;
                    });
                }

            });

</script>

</body>
</html>